.imc-calculator{
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;    
}

.calculator-wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calculator form{
    display: flex;
    max-width: 20rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    padding: 2rem 3rem;
    transition: .3s;
}

.calculator h2{
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

.calculator label {
    display: flex;
    flex-direction: column;
    color: var(--gray);
}

.calculator input {
    background-color: transparent;
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-color: black;
}
.chart {
    width: 100%;
}
.chart .neumorphism{
    border-radius: 0;
}

.imc-result{
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 30px;
    padding: 2rem 3rem;
}

.imc-calculator p{
    font-size: 2rem;
    text-align: center;
}

#error {
    color: var(--red);
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    margin: 0;
}

#error span {
    font-weight: bold;

}

.update-db{
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    animation: float 3s ease-in-out infinite; 
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 12px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 12px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.notification {
    display: grid;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff80;
    justify-content: center;
    align-items: center;
}

.notification-wrapper{
    padding: 2rem;
}

.notification h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.notification-button-wrapper{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1280px) {
    .calculator-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "chart"
                             "calculator"
                             "result";
    } 
    .chart {
        grid-area: chart;
    } 

    .imc-calculator {
        grid-area: calculator;
    }

    .imc-result {
        grid-area: result;
    }

}

