.sign-up{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 100vh;
}

.sign-up form{
    display: flex;
    width: 50%;
    max-width: 25rem;
    max-height: 30rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    padding: 2rem 3rem;
}

.sign-up h2{
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

.sign-up label {
    display: flex;
    flex-direction: column;
    color: var(--gray);
}

.sign-up input {
    background-color: transparent;
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-color: black;
}