header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav ul {
    padding: 0;
    display: flex;
    gap: 7%;
    align-items: center;
}
.nav .pages li{
    list-style: none;
    display: inline-block;
    /* margin: 0 5%; */

}

.pages a {
    font-family: sans-serif;
    text-decoration: none; 
    color: black;
}

.highlighted{
    font-weight: bold;
}



.sign-up-login{
    display: flex;
    justify-content: right;
    align-items: center;
}

.sign-up-login .username{
    margin: 0;
}

